<ion-content>
  <ion-searchbar
    showCancelButton="focus"
    [formControl]="search"
  ></ion-searchbar>

  <ion-list *ngIf="listPokemon">
    <app-pokemon-card
      *ngFor="let pokemonDetail of listPokemon"
      [routerLink]="['/detail-master/pokemon', pokemonDetail.name]"
      [pokemon]="pokemonDetail"
    ></app-pokemon-card>
  </ion-list>
  <app-pokemon-card
    [pokemon]="pokemon"
    *ngIf="pokemon"
    [routerLink]="['/detail-master/pokemon', pokemon.name]"
  ></app-pokemon-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="getData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
